nav {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: calc(10vh - 2rem);
    ;
    background-color: black;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
nav div button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}